absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
Babel==2.12.1
bce-python-sdk==0.8.87
blinker==1.6.2
Bottleneck==1.3.7
braceexpand==0.1.7
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.4
colorama==0.4.6
colorlog==6.7.0
contourpy==1.1.0
cycler==0.11.0
Cython==0.29.36
datasets==2.13.1
decorator==5.1.1
dill==0.3.4
Distance==0.1.3
editdistance==0.6.2
exceptiongroup==1.1.2
fastapi==0.100.0
filelock==3.12.2
Flask==2.3.2
Flask-Babel==2.0.0
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
g2p-en==2.1.0
g2pM==0.1.2.5
gast==0.4.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
h11==0.14.0
h5py==3.9.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.0
inflect==7.0.0
itsdangerous==2.1.2
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.1
jsonlines==3.1.0
kaldiio==2.18.0
keras==2.13.1
kiwisolver==1.4.4
libclang==16.0.0
librosa==0.8.1
llvmlite==0.40.1
loguru==0.7.0
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
mock==5.0.2
multidict==6.0.4
multiprocess==0.70.12.2
nara-wpe==0.0.9
nltk==3.8.1
numba==0.57.1
numpy==1.21.6
oauthlib==3.2.2
onnxruntime==1.11.0
OpenCC==0.2
opt-einsum==3.3.0
packaging==23.1
paddle-bfloat==0.1.7
paddle2onnx==1.0.5
paddleaudio==1.0.2
paddlefsl==1.1.0
paddlenlp==2.5.2
paddlepaddle @ file:///home/firefly/speechSynthesis/paddlepaddle-2.5.0-cp39-cp39-linux_aarch64.whl#sha256=68596388583dba003190397fc7fa450a3a85eebf3ffc273ff1ec96132c6efff8
paddleslim==2.3.4
paddlespeech==1.3.0
paddlespeech-feat==0.1.0
pandas==2.0.3
parrots==0.1.7
pathos==0.2.8
pattern-singleton==1.2.0
Pillow==10.0.0
platformdirs==3.8.1
pooch==1.7.0
portalocker==2.7.0
pox==0.3.2
ppft==1.7.6.6
praatio==5.0.0
prettytable==3.8.0
protobuf==4.23.4
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pybind11==2.10.4
pycparser==2.21
pycryptodome==3.18.0
pydantic==2.0.2
pydantic_core==2.1.2
pydub==0.25.1
Pygments==2.15.1
pyparsing==3.0.9
pypinyin==0.44.0
pypinyin-dict==0.6.0
pytest-runner==6.0.0
python-dateutil==2.8.2
pytz==2023.3
pyworld==0.2.12
PyYAML==6.0
pyzmq==25.1.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.2.2
rich==13.4.2
rsa==4.9
sacrebleu==2.3.1
scikit-learn==1.3.0
scipy==1.11.1
sentencepiece==0.1.99
seqeval==1.2.2
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
starlette==0.27.0
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-cpu-aws==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
TextGrid==1.5
threadpoolctl==3.1.0
timer==0.2.2
tqdm==4.65.0
typeguard==2.13.3
typer==0.9.0
typing_extensions==4.6.1
tzdata==2023.3
urllib3==1.26.16
uvicorn==0.22.0
visualdl==2.4.2
wcwidth==0.2.6
webrtcvad==2.0.10
websockets==11.0.3
Werkzeug==2.3.6
wrapt==1.15.0
xxhash==3.2.0
yacs==0.1.8
yarl==1.9.2
zhon==2.0.2
zipp==3.16.0
